*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family:  Helvetica;
}
html,body{
  height:100%;
  width: 100%;
}

.parent{
  min-height: 100vh;
  width: 100%;
  background-color: #111;
  padding:30px;
  display: flex;
  gap:30px;
  flex-wrap: wrap;

}
.card{
  height: 330px;
  width: 280px;
  background-color: #fff;
  border-radius:30px ;
  padding:20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card .top img {
  height: 40px;
  width: 40px;
  border:1px solid #dada;
  border-radius: 50%;
  padding:3px;

}
.top button{
  display: flex;
  align-items: center;
  border: 1px solid #dada;
  padding: 4px 8px;
  border-radius:5px;
  gap:3px;
  background-color: transparent;
}
.card .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.center h3{
  font-size: 17px;
  font-weight: 500;
}
.center h3 span{
  font-size: 9px;
  font-weight: 400;
  color:#8b8b8b;
}
.center h2{
  font-size: 20px;
}
.center .tag{
  display: flex;
  gap:7px;
  margin-top: 5px;
}
.center .tag h4{
  background-color: #b7b7b7;
  border-radius:5px ;
  padding:3px 8px;
  font-size:11px;
  color:#111;
  font-weight: 500;
}
.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #c2c2c2;
  padding-top:15px;
}
.bottom button {
  background-color: #111;
  color:#fff;
  padding:5px 12px;
  border-radius:7px ;
  font-weight: 500;
  border: none;
}
.bottom p{
  color: #8b8b8b;
  font-size:10px;
}