*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  color:#fff;
}
html,body{
  height:100%;
  width: 100%;
}
body{
  background-color: #111;
}

.parent{
  display: flex;
  flex-wrap: wrap;
}
.card{
  width: 200px;
  border:1px solid white;
  margin:30px;
  padding:20px;
  align-items: center;
  background-color: #222;
}
.card img {
  height: 140px;
  width: 140px;
  object-fit: cover;
  border-radius: 50%;
}
.card p{
  margin:20px 0;
}
.card button{
  padding:5px 10px;
  color:black;
  margin:20px;
  border:none
}