*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
html, body{
  height: 100%;
  width: 100%;
  background-color: #666;
}
#parent{
  display: flex;
  align-items: center;
  justify-content: center;
}
input{
  height: 40px;
  width: 200px;
  margin:10px;
  padding:8px;
  margin-top: 20px;
  border-radius: 8px;
  border:2px solid black;
  background-color: beige;

}
button{
  height: 40px;
  width: 100px;
  margin:10px;
  border-radius: 10px;
  background-color: rgb(143, 201, 143);
}
#mad{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}