*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:white;

}
html,body{
  width: 100%;
  height: 100%;
  background-color: black;
  
}
.card{
  background-color: rgb(91, 12, 28);
  margin:20px;
  border-radius:10px;
  font-weight: 500;
  font-size: large;
  padding:20px;
}
.nav{
  margin:5px;
  background-color: rgb(9, 110, 110);
  padding:20px;
}